<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<!-- Path to the logs folder -->
    <Properties>
		<Property name="basePath">./logs</Property>
	</Properties>
	
	<Appenders>
		<!-- Logger Messages saved in the file -->
    	<RollingFile name="File" fileName="${basePath}/logger_messages.log" filePattern="${basePath}/prints-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="1000" />
     	</RollingFile>
     	
		<!-- Logger Messages printed in the Console -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	
	<Loggers>
		<Logger name="stepdefinition.LoginStepDefinition" level="trace" additivity="true">
			<AppenderRef ref="File" />
		</Logger>
		
		<!-- Global - All Tests -->
		<Root level="trace">
		  	<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>